<launch>
    <param name="use_sim_time" value="true"/>
    <node pkg="tf2_ros" name="static_tf" type="static_transform_publisher" args="0 0 0.4 0 0 0 1 base_link velodyne"/>
    <!-- <node pkg="lio_sam" type="lio_sam_imuPreintegration"   name="lio_sam_imuPreintegration"    output="screen" 	respawn="false"/> -->
    <node pkg="particle_filter_3d" name="test_particle_filter" type="test_particle_filter" output="screen">
        <rosparam command="load" file="$(find particle_filter_3d)/param/config_degen.yaml" />
    </node>
    <node pkg="particle_filter_3d" name="test_lidar_degen" type="test_lidar_degen"/>
</launch>